body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#startingscreen {
    width: 100%;
    text-align: center;
    font-size: 100px;
    place-items: center; 
    display: grid;
    height: 100vh; 
    background-color:beige; 
    z-index:101   
}

.background {

    height: 100vh;
    width: 100vw;
    background-color: skyblue;
    z-index: -1;
}

.bird {
    height: 60px;
    width: auto;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
}

.pipe_sprite {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 6vw;
    background-color: green;
    border-color: darkgreen;
    border-width: 4px;
    border-style: solid;
}

.message {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(44, 133, 168);
    border-radius: 16px;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    display: flex;
}

.score {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    color: gold;
    top: 0;
    left: 0;
    background-color:burlywood;
}

.score_val {
    color: gold
}

